{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    <div class="jumbotron">
        <div class="container">
            <h1>{{ category.name }}
            <figure class="creator">
                <img src="{{ creator.picture}}">
                <figcaption>{{ creator.name }}</figcaption>
            </figure>
            </h1>
        </div>
    </div>


    <div class="container">
        <div class = 'row'>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info"> <strong>{{ message }}</strong> </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>


        {% for item in items %}
            <a href="{{url_for('showItem', category_id = item.category_id, item_id = item.id )}}">
                <li class="items__item">
                    <span class="item__name">{{item.name}}</span>
                </li>
            </a>
        {% endfor %}
    </div>

{% endblock %}
